.dark-mode {
    filter: invert(1) hue-rotate(180deg)
}

#dark_mode_button {
    /* right: 10px; */
    display: inline-block;
    background-color: rgba(191, 178, 240, 0.3);
    border-radius: 30%;
    padding: 8px;
}