.dark-mode {
    filter: invert(1) hue-rotate(180deg)
}

#dark_mode_button {
    /* background-color: rgba(191, 178, 240, 0.3); */
    background-color: rgba(64, 35, 10, 0.8);
    color: #fcfbfc;
    border-radius: 30%;
    padding: 8px;
    line-height:2em;
}
#toggle{
    padding: 5px;
    text-align: center;
}

#toggle button{
    margin: 10px;   
    padding: 10px;
    width: auto;
    height: 40px;
    background-color:#ffffff;
    border-radius: 20px;
    border-color:gray;
    font-size: 1.3em;
    font-weight: 650;
    color: #24a5ef;
    text-align: center; 

}


.content{
    background-color: #fcfbfc; 

}

.table-title{
    text-align: center;
    display: block;
    font-size: 18px;
}